<div class="footer_accord accordion" id="footer_accordion">
  <%# get to know us %>
  <div class="accordion-item get-to-know-us">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button collapsed footer_list_title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Get To Know Us
    </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#footer_accordion">
      <div class="accordion-body">
        <ul>
          <li><a href="#">skySurf Swag</a></li>
          <li><a href="#">Our Company</a></li>
          <li><a href="#">Our Planes</a></li>
          <li><a href="#">Partner Airlines</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Travel Agents</a></li>
          <li><a href="#">Sponsorships</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Timetables</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

  <%# policies %>
  <div class="accordion-item policies">
    <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed footer_list_title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      Policies
    </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#footer_accordion">
      <div class="accordion-body">
        <ul>
          <li><a href="#">Safety</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Web Accessibility</a></li>
          <li><a href="#">Contract of Carriage</a></li>
          <li><a href="#">Tarmac Delay Plan</a></li>
          <li><a href="#">Customer Service Plan</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Human Trafficking</a></li>
          <li><a href="#">Optional Services and Fees</a></li>
          <li><a href="#">Do not sell my info</a></li>
        </ul>
      </div>
    </div>
  </div>

  <%# skySurf in action %>
  <div class="accordion-item skySurf-in-action">
    <h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed footer_list_title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
      skySurf In Action
    </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#footer_accordion">
      <div class="accordion-body">
        <ul>
          <li><a href="#">skySurf for Good</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Diversity, Equity & Inclusion</a></li>
          <li><a href="#">Miliary</a></li>
          <li><a href="#">Press Room</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>

  <%# stay connected %>
  <div class="accordion-item stay-connected">
    <h2 class="accordion-header" id="headingFour">
    <button class="accordion-button collapsed footer_list_title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
      Stay Connected
    </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#footer_accordion">
      <div class="accordion-body">
        <ul>
          <li><a href="#"><span class="lg-icon"><i class="far fa-envelope"></i></span>Join our email list</a></li>
          <li><a href="#"><span class="lg-icon"><i class="fas fa-mobile-alt"></i></span>Download the skySurf mobile app</a></li>
          <li class="social-media-icons">
            <i class="fab fa-facebook-f fs-2"></i>
            <i class="fab fa-instagram fs-2 mx-2"></i>
            <i class="fab fa-twitter fs-2"></i>
            <i class="fab fa-youtube fs-2 mx-2"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>