<div class="footer_non_accord">

  <%# Get to know us section %>
  <section class="footer_link_container link_container get-to-know-us">
    <header class="footer_list_title">Get To Know Us</header>
    <ul>
      <li><a href="#">skySurf Swag</a></li>
      <li><a href="#">Our Company</a></li>
      <li><a href="#">Our Planes</a></li>
      <li><a href="#">Partner Airlines</a></li>
      <li><a href="#">Investor Relations</a></li>
      <li><a href="#">Travel Agents</a></li>
      <li><a href="#">Sponsorships</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Timetables</a></li>
      <li><a href="#">Site Map</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </section>

  <%# policies section %>
  <section class="footer_link_container link_container policies">
    <header class="footer_list_title">Policies</header>
    <ul>
      <li><a href="#">Safety</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Web Accessibility</a></li>
      <li><a href="#">Contract of Carriage</a></li>
      <li><a href="#">Tarmac Delay Plan</a></li>
      <li><a href="#">Customer Service Plan</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Human Trafficking</a></li>
      <li><a href="#">Optional Services and Fees</a></li>
      <li><a href="#">Do not sell my info</a></li>
    </ul>
  </section>

  <%# skySurf in action %>
  <section class="footer_link_container link_container skySurf-in-action">
    <header class="footer_list_title">skySurf In Action</header>
    <ul>
      <li><a href="#">skySurf for Good</a></li>
      <li><a href="#">Sustainability</a></li>
      <li><a href="#">Diversity, Equity & Inclusion</a></li>
      <li><a href="#">Miliary</a></li>
      <li><a href="#">Press Room</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </section>

  <%# stay connected %>
  <section class="footer_link_container link_container stay-connected">
    <header class="footer_list_title">Stay Connected</header>
    <ul>
      <li><a href="#"><span class="lg-icon"><i class="far fa-envelope"></i></span>Join our email list</a></li>
      <li><a href="#"><span class="lg-icon"><i class="fas fa-mobile-alt"></i></span>Download the skySurf mobile app</a></li>
      <li class="social-media-icons">
        <i class="fab fa-facebook-f fs-2"></i>
        <i class="fab fa-instagram fs-2 mx-2"></i>
        <i class="fab fa-twitter fs-2"></i>
        <i class="fab fa-youtube fs-2 mx-2"></i>
      </li>
    </ul>
  </section>
</div>