<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>skySurf Itinerary</h1>
    <ul>
      <li>Booking Number: #<%= @booking.id %></li>
    </ul>
  </body>
</html>
